@charset "utf-8";
	*{
    padding:0px;
    margin: 0px;
    }
    input,textarea{
        text-indent:5px;
    }

   input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
color: #666; 

} 
input:-moz-placeholder, textarea:-moz-placeholder { 
color: #666; 

} 
input::-moz-placeholder, textarea::-moz-placeholder { 
color: #666; 

} 
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
color: #666; 

} 

 
     /*返回*/
    .gt-backDiv{
    /* width:1012px; */
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-align: left;
    margin-top: 10px;
    font-family: 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    color: #353535;
    }
    .gt-backSp{
    float: right;
    width: 60px;
    height: 30px;
    background-color: rgba(1, 185, 254, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(1, 185, 254, 1);
    border-radius: 2px;
    color: white;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    }
  .gt-backBlu{
      color: #0DC292;
  }
  .gt-backCur{
  cursor:pointer; 
  }

 /*修改课程*/
 .gt-changesBox{
         width: 100%;
    height: 1109px;
    margin-top: 20px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(238, 238, 238, 1);
        font-family: 'Microsoft YaHei UI';
    font-weight: 400;
    font-size: 14px;
    color: #353535;
 }
 .gt-changeListGt{
     width: 912px;
     margin: 0 auto;
margin-top: 20px;
height: 300px;
margin-bottom: 20px;
 }
.gt-alignedRt{
     margin-top: 5px;
     float:left;
  margin-right: 8px;
  display: inline-block;
  position: relative;
 }

 .gt-agnedL{
     margin-top: 5px;
     float: right;
  margin-right: 8px;
  display: inline-block;
 }
 .gt-alignedBox{
     width: 145px;
     display: inline-block;
     float: left;
 }
 .gt-changeList ul{
     list-style: none;
     }
     .gt-changeList ul li{
    position: relative;
    margin-top: 30px;
     }
     .gt-changeListGt ul li{
    margin-top: 30px;
    margin-left: 56px;
    position: relative;
     }
     .gt-alignedIpu{
         width: 445px;
    height: 32px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(210, 210, 210, 1);
    border-radius: 2px;
     }
  /*搜索栏 下拉框*/
.gt-selecAs{
    display: inline-block;
    width: 137px;
     height: 32px;
     position: relative;
        border-width: 1px;
    border-style: solid;
    border-color: rgba(210, 210, 210, 1);

}
.gt-selecAas{
    padding-left: 2px;
     width:100%;
     height: 32px;
     font-size: 14px;
     line-height: 32px;
    border:0px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    outline: none;
    background:url('../image/ico/u584.png') no-repeat right center; 
     background-size: 15px 9px;
}
.gt-alignedSmall{
        width: 120px;
        margin-right: 20px;
    height: 32px;
}
.gt-alignDate{
    width: 145px;
    height: 32px;
    margin-right: 20px;
}
.gt-alignColor{
        color: #FD7768;
}
.gt-addMgrl{
    margin-left:39px;
}
.gt-brief{
font-family: 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #FD7768;
    margin-left: 50px;
}
.gt-alignLine{
    width: 913px;
  height: 1px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(210, 210, 210, 1);
}
.gt-bttonBox{
    width: 912px;
    height: 500px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(228, 228, 228, 1);
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 30px;
  overflow-y :auto
}
.gt-bttonBox ul{
    list-style: none;
    margin-top: 15px;
}
.gt-alBoxIpu{
    width: 180px;
    height: 32px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(210, 210, 210, 1);
    border-radius: 2px;
}
.gt-aligLf{
    margin-left: 35px;
}
.gt-bttonBoxLi textarea{
    width: 445px;
    height: 64px;
    resize: none;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(210, 210, 210, 1);
    border-radius: 2px;
}
.gt-bttonImg{
        width: 100px;
    height: 100px;
    background: inherit;
    background-color: rgba(245, 245, 245, 1);
    display: inline-block;
    text-align: center;
margin-top: 6px;
}
.gt-bttonImg img{
width: 40px;
height: 40px;
margin-top: 20px;
}
.gt-alignChoose{
    display: inline-block;
margin-left: 8px;
}
.gt-chooseBut{
    width: 80px;
    height: 32px;
    background: inherit;
    background-color: rgba(1, 185, 254, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(1, 185, 254, 1);
    border-radius: 2px;
    text-align: center;
    line-height: 32px;
   font-family: 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}
.gt-chooseBut:hover{
    background-color: rgba(27,191,254,1);
      border-color: rgba(27,191,254,1);
}
.gt-alignChoose p{
    margin-top: 10px;
font-family: 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    color: #FD7768;
}
.gt-graded{
margin-top: 18px;
margin-left: 176px;
cursor: pointer;

}

/*保存取消*/
.gt-butSave{
        width: 60px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    display: inline-block;
    background-image: url('../image/ico/u2529.png');
    background-size: 100% 100%;
    font-family: 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin-right: 20px;
    cursor: pointer;
}
.gt-butSave:hover{
     background-image: url('../image/ico/u2529_mouseOver.png');
}
.gt-butNoSave{
width: 60px;
    height: 32px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(201, 201, 201, 1);
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #353535;
    display: inline-block;
    text-align: center;
    line-height: 32px;
   margin-left: 20px;
   cursor: pointer;
    
}
.gt-butNoSave:hover{
    border: 1px solid rgba(13, 194, 146, 1);
}
.gt-QbutBox{
    
    width: 912px;
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    position: relative;
 
}
.gt-QwaringL1{
   position: absolute;
    top: 35px;
    left: 93px;
    color: red;
     display: none;
}
.gt-QwaringL2{
   position: absolute;
    top: 35px;
    left: 167px;
    color: red;
     display: none;
}
.gt-QwaringL3{
   position: absolute;
    top: 35px;
    left: 93px;
    color: red;
     display: none;
}
.gt-QwaringL4{
   position: absolute;
    top: 35px;
    left: 143px;
    color: red;
     display: none; 
}
.gt-QwaringL5{
   position: absolute;
    top: 35px;
    left: 411px;
    color: red;
     display: none; 
}


input{
  outline:none;
}
 
.gt-sclechelist{
    position: absolute;
    left:0px;
    bottom:42px;
    cursor: pointer;

}
.gt-chosetype{
    position: absolute;
    top: 4px;
    left: 240px;
    color: red;
    display: none;
}
.gt-woringSelec{
    position: absolute;
    color: red;
    top: 5px;
    left: 240px;
    display: none;
}
 