@charset "utf-8";
		*{
        padding:0px;
        margin: 0px;
        }
        input,textarea{
            text-indent:5px;
        }

        input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color: #666; 
    } 
    input:-moz-placeholder, textarea:-moz-placeholder { 
    color: #666; 
    } 
    input::-moz-placeholder, textarea::-moz-placeholder { 
    color: #666; 
    } 
    input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color: #666; 
    } 
        .gt-boxCentr{
            width: 90%;
            margin: 0 auto;
        }
    table { 
    border-collapse:collapse; 
    border-spacing:0; 
    } 
    th,td { 
    padding: 0; 
    margin: 0;
    }
        header{
        width:1200px;
        height: 90px;

        }
        .gt-header-img {
        float: left;
        margin-left: 60px;
        width:244px;
        height: 90px;
        }
        .gt-header-img img{

        width:100%;
        height:100%;
        }


        .gt-select{
        float:right;
        width:460px;
        height: 90px;
        margin-right: 70px;
        position: relative;
        }

        .gt-select .gt-select-div{
        width:100%;
        height: 25px;
        text-align: center;

        }
        .gt-sc{
        width: 48px;
        height: 30px;
        display: inline-block;
        text-align: center;
        line-height: 30px;
            font-size: 16px
        }
        .gt-school{
        width:200px;
        height: 30px;
        font-size: 14px;
        text-align: center;
        line-height: 30px;

        }

        .gt-est{
        
        display: inline-block;
        width: 60px;
        height: 30px;
        font-size: 14px;
        color: white;
        border-radius: 2px;
        background: #02b9ff;
        text-align: center;
        line-height: 30px;
        margin-left: 3px;

        }

        .gt-viod{
        display: inline-block;
        margin-left: 3px;
            width: 120px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            background-color:rgba(252, 186, 101, 1);
            box-sizing: border-box;
            border-width: 1px;
            border-style: solid;
            border-color: rgba(252, 186, 101, 1);
            border-radius: 2px;
            font-size: 14px;
            color: white;
            position: relative;
            
        }

        .gt-viod img{
            width: 16px;
            height: 16px;
            position: absolute;
            top:7px;
            left:10px;
        }

        .gt-pt{
            position:absolute;
            top:30px;
            left: 0px;
        }

        /*导航菜单*/
        /*导航菜单*/
        nav{
        width: 61px;
        height: 1500px;
        float: left;
        background: #2f3f56;
    position: relative;
        }

    .gt-navActioan{
    width: 140px;
    height: 1282px;
    position: absolute;
    top:0;
    left: -140px;
    text-align: right;
    color: white;
    background-color: rgba(47, 64, 86, 1);
    z-index: 2;
    }
    .gt-pesonName{
    width: 132px;
        height: 50px;
    text-align: right;
    line-height: 50px;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 5px;
    border-left:4px solid #2f4056; 
    position: relative;
    }
    .gt-pesonName span{
        margin-right: 15px;
    }
    .gt-pesonName img{
    margin-left: 10px;
        padding-top: 10px;
    width: 32px;
    height: 32px;
    float: left;

    }
    .gt-buttonEven {
        width: 132px;
        height: 50px;
    text-align: right;
    line-height: 50px;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 5px;
    border-left:4px solid #2f4056;
    }
    .gt-buttonEven span{
        margin-right: 10px;
    }
    .gt-buttonEven img{
        margin-left: 10px;
        padding-top: 15px;
    width: 24px;
    height: 24px;
    float: left;
    }
    .gt-buttonClik{
        background-color: rgba(34, 46, 62, 1);
        border-left: 4px solid #00cc99;
        box-sizing: border-box;

        }



        .gt-bgd{
            width: 100%;
            height: 1500px;
            background-color: rgba(245, 245, 245, 1);
            position: relative;

        }
        .gt-nav{

            width: 61px;
            height: 50px;
            margin-bottom: 5px;

        }
    .gt-nav:hover {
    background: url('../image/ico/u7946_mouseOver.png') no-repeat;
        background-size: 61px 50px;

    }
        .gt-icoSel,.gt-icoNav{
            text-align: center;
            line-height: 50px;
        }

        .gt-sel{
            position: relative;
        
        }
        .gt-navBox{
            top:-10px;
            left: 0px;
            position:absolute;
            z-index: 4;
        }
        /*返回按钮*/
        .gt-pagButoon{
            position: absolute;
            top:400px;
            right: -100px;
        width: 14px;
        height: 84px;
        line-height: 84px;
        text-align: center;
        background-color: rgba(47, 64, 86, 1);
        border: none;
        border-radius: 4px;
        z-index: 100;
        }
        .gt-pagButoon div img{
            width: 20px;
            height: 21px;
        }
        /*前进按钮*/
        .gt-goButoon{
            position: absolute;
            top:400px;
            right: -12px;
            width: 14px;
            height: 84px;
            line-height: 84px;
            text-align: center;
            background-color: rgba(47, 64, 86, 1);
            border: none;
            border-radius: 4px;
            z-index:999;
        }
        .gt-goButoon div img{
            width: 20px;
            height: 21px;
        }

        /*修改头像*/
        .gt-edit{
        width:120px;
        height: 65px;
        background: white;
        position: absolute;
        right: -120px;
        top:0px;
    display: none;
        }
        .gt-editBt{
            width: 98px;
            height: 40px;
            text-align: center;
            line-height: 40px;
            margin-left: 10px;
            color: #353535;
            margin-top: 10px;
        
        }

    .gt-editA{
        width:120px;
        height: 65px;
        background: white;
        position: absolute;
        right: -120px;
        top:-5px;
    display: none;
        }
        .gt-editBtA{
            width: 98px;
            height: 40px;
            color: #353535;
            text-align: center;
            line-height: 40px;
            margin-left: 10px;
            margin-top: 10px;
        
        }

        /*背景变蓝*/
        .gt-hoveBt{
            background-color: rgba(13, 194, 146, 1);
            color: white;
        }

        .gt-icoSel{
            margin-top: 15px;
            
        }
        .gt-icoSel img{

            width: 32px;
            height: 32px;

        }
        .gt-icoNav img{
            width: 22px;
            height: 22px;

        }

        .gt-navBlock{
        background: url('../image/ico/u7946_mouseOver.png') no-repeat;
        background-size: 61px 55px;

        }

      

        .gt-deails{
          
            width: 100%;
            height: 1189px;
            margin-left: 5%;
            
        }

        footer{
            position: absolute;
            bottom: 0px;
            right: 0px;
            width: 1135px;
            height: 128px;
            font-size: 12px;
            text-align: center;

        }
        .gt-footerImg{
        width: 1135px;
        height: 80px;
        text-align: center;
        line-height: 80px;
        }
        .gt-footerImg img{
            width: 80px;
            height: 80px;

        }
        .gt-footerIco{
            display: inline-block;
            width: 48px;
            height: 15px;
            margin-right: 30px;
            position: relative;
        }
        .gt-footerIco img{
            width: 48px;
            height: 15px;
            top:3px;
            right: 0px;
            position: absolute;
        }
        .gt-fotterMac{
        margin-bottom: 6px;

        }
        /*返回*/
        .gt-backDiv{
      
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        text-align: left;
        margin-top: 10px;
        font-family: 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
        font-weight: 400;
        font-style: normal;
        color: #353535;
        }

        
        .gt-backSp{
        float: right;
        width: 60px;
        height: 30px;
        background-color: rgba(1, 185, 254, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(1, 185, 254, 1);
        border-radius: 2px;
        color: white;
        text-align: center;
        line-height: 30px;
        }
    .gt-backBlu{
        color: #0DC292;
    }
    .gt-backCur{
    cursor:pointer; 
    }




    .gt-callNameBox{
        width: 100%;
        height: 1300px;
    background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border: 1px solid rgba(238, 238, 238, 1); 
        margin-top:20px;

    }
    /*头部信息*/
    .gt-heardInfor{
        width:90%;
        height: 40px;
        background: inherit;
        background-color: rgba(251, 241, 204, 1);
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(245, 218, 167, 1);
        border-radius: 2px;
        margin-left: 60px;
        margin-top: 20px;
        font-size: 14px;
        color: #353535;
        font-family: 'Microsoft YaHei UI';
        font-weight: 400;
        line-height: 40px;
        margin-left: 2.5%;
    }

    .gt-heardInfor ul{
        margin-left: 30px;
    list-style: none;
    }
    .gt-heardInfor ul li{
    float: left;
    margin-right: 30px;
    }
    .gt-heardInfor span{
        color: #FD7768;
        font-size: 16px;
    }

.gt-membersSc{

width:90%;
 margin-left:2.5%;
margin-top: 20px;
    font-family: 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    font-size: 14px
}
/*搜索栏*/
.gt-memberSCImg{
   float: left;
  
}
.gt-prSearc{
    position: relative;
    display: inline-block;
    margin-left: 8px;
    margin-right: 30px;
    height: 30px;
    border: 1px solid  rgba(210, 210, 210, 1);
}
.gt-prSearc input{
    width: 163px;
    height: 28px;
    border: none;
    outline: none;
    margin-left:10px;
}
.gt-prSearcA{
    display: inline-block;
position: absolute;
top:5px;
right: 10px;

}
.gt-prSearc img{
width:18px;
height: 18px;

}
.gt-addmember{
    width: 80px;
    height: 30px;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    background: inherit;
    background-color: rgba(13, 194, 146, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(13, 194, 146, 1);
    border-radius: 2px;
    color: white;

}
.gt-addmember:hover{
    background-color: rgba(14, 207, 154, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(14, 207, 154, 1);
    border-radius: 2px;
}

/*背景*/
.gt-backgImg{
    top:0px;
    position: absolute;
    width: 1200px;
    height:1411px;
    z-index: 19;
    background-image: url('../image/ico/u9598.png');
    background-size: 1200px 1411px;
    background-repeat: no-repeat;
    filter:alpha(opacity=40);  
    -moz-opacity:0.4;  
     -khtml-opacity: 0.4;  
    opacity: 0.4;  

}


.gt-detailList{
   width: 570px;
    height: 750px;
    position: absolute;
   top: 80px;
    left: 310px;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border: 1px solid rgba(238, 238, 238, 1); 
    z-index: 98;
    font-family: 'Arial Normal', 'Arial';
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    color: #333333;
}
.gt-revisionsHeard{
    width:100%;
    height: 40px;
    float: right;
    background-color: rgba(248, 248, 248, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(238, 238, 238, 1);
}
.gt-canl{
    display:inline-block;
    float: right;
    margin-right: 20px;
    text-align: center;
    line-height: 40px;
}
.gt-canl img{
    width: 16px;
    height: 16px;
}
.gt-NameCar{
     display:inline-block;
    float:left;
    margin-left: 20px;
      text-align: center;
    line-height: 40px;
}

/*表格*/

.gt-revList{
  
    width: 467px;
  margin: 0 auto;
   border: 1px solid #e4e4e4;
 
}
.gt-revListtabl{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    text-align: center;
    border: none; 
    outline: none;
    font-family: 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
        color: #333333;

}

.gt-revListtabl td{
    
   height: 40px;
   border-right: 1px solid #e4e4e4;
   border-bottom: 1px solid white;
 
}
/*奇数行*/
.gt-revListtabl tbody tr:nth-child(odd) td { background-color: #f2f2f2; }
/*偶数行*/
.gt-revListtabl tbody tr:nth-child(even) td { background-color: #ffffff; }

/*报名活动表格*/

.gt-revli0{
width: 120px;

}
 
 .gt-revli1{
width: 50px;
}

.gt-revListtabl tbody tr:hover td { background-color: #f0f0f1; }
.gt-choseLg{
    display: inline-block;
    text-align: center;
    line-height: 24px;
    width: 48px;
    height: 24px;
    font-family: 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
   background-image:url('../image/ico/u796.png');
   background-repeat: repeat-x;
   background-size: 24px 48px;
    cursor: pointer;
  
}
.gt-choseLg:hover{
       background-image:url('../image/ico/u796_mouseOver.png');
}
.gt-heradImg{
    display: inline-block;
        width: 36px;
    height: 36px;
}
.gt-heradImg img{
    width: 36px;
    height: 36px;
}
.gt-heradSearc{
    margin-left: 50px;
    margin-top: 20px;
    margin-right: 0px;
    margin-bottom: 25px;
}
 .gt-dataNext{
        text-align: center;
        margin-top: 20px;
        width: 140px;
        float: right;
        height: 60px;
        margin-right: 39px;

        }
        .gt-dataNext span {
            display: inline-block;
            width: 40px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #e4e4e4;
            font-family: 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
            font-weight: 400;
            font-style: normal;
            font-size: 12px;

        }
        .gt-cliNext:hover{
            background: #f0f0f1; 
        }
        .gt-dataNext .gt-dataBlu{
            color: white;
        border: 1px solid #0DC292;
            background: rgba(13, 194, 146, 1);
        }

        
.gt-toBeList{

        width: 570px;
        height: 800px;
        position: absolute;
        top: 80px;
        left: 310px;
        background-color: rgba(255, 255, 255, 1);
        box-sizing: border-box;
        border: 1px solid rgba(238, 238, 238, 1); 
        z-index: 99;
        font-family: 'Arial Normal', 'Arial';
        font-weight: 400;
        font-style: normal;
        font-size: 13px;
        color: #333333;
        display: none;

}
.gt-mebrsCent{
    height: 36px;
  
    width: 100%;
    font-family: 'Microsoft YaHei UI Regular', 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0 auto;
 padding-left:170px;
    margin-top: 60px;
    position: relative;
}
.gt-mebrWor{
    position: absolute;
    top:9px;
    margin-left: 12px;
}
.gt-justify{
    text-align:right;
    width: 100px;
    display: inline-block;
    float: left;
}
.gt-Carbox1{
    height: 52px;
}
.gt-Newmebrs{
    font-family: 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    color: #353535;
    font-size: 14px;
}
.gt-Newmebrs{
    list-style: none;
}
.gt-Newmebrs li{
    margin-top: 20px;
    margin-left: 55px;
}
.gt-carBut{
    display: inline-block;
    width: 74px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: inherit;
    background-color: rgba(201, 201, 201, 1);
    box-sizing: border-box;
    border: 1px solid rgba(201, 201, 201, 1);
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 15px;
    float: left;
    cursor: pointer;
}
.gt-carBut:hover{
  background-color: rgba(14,207,154,1);
  border: 1px solid rgba(14,207,154,1);
}
.gt-justInput{
    width: 180px;
    height: 32px;
    display: inline-block;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(210, 210, 210, 1);
    border-radius: 2px;
    float: left;
    margin-left: 15px;
    margin-top: -5px;
    
}
.gt-justInput input{
    width: 100%;
    height: 100%;
    outline: none;
    border:none;
}
.gt-Carbox2{
    height: 35px;;
    width: 100%;
}
.gt-sendCar{
    display: inline-block;
    float: left;
    margin-left: 8px;
    margin-top: -5px;
        width: 100px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    background: inherit;
    background-color: rgba(1, 185, 254, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(1, 185, 254, 1);
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-family: 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
}
.gt-sendCar:hover{
    background-color: rgba(27,191,254,1);
    border: 1px solid rgba(27,191,254,1);
}
.gt-justTexta{
        width: 290px;
    height: 64px;
    background: inherit;
    background-color: rgba(255, 255, 255, 0);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(210, 210, 210, 1);
    border-radius: 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    display: inline-block;
    float: left;
    margin-left: 15px;
}
.gt-justTexta textarea{
    width: 100%;
    height: 100%;
     resize: none;
      border: none;
        outline: none;
}
.gt-Carbox3{
    height:72px;

}
.gt-carButn1{
    width: 80px;
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    font-family: 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #FFFFFF;
    background-image: url('../image/ico/u8094.png');
    background-size: 80px 32px;
    cursor: pointer; 
}
.gt-carButn1:hover{
     background-image: url('../image/ico/u8094_mouseOver.png');
}
.gt-carButn2{
    width: 80px;
    height: 32px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
   width: 80px;
    height: 32px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(201, 201, 201, 1);
    border-radius: 2px;
    font-family: 'Microsoft YaHei UI';
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #353535;
    margin-left: 10px;
    cursor: pointer;
}
.gt-carButn2:hover{
   
    border: 1px solid rgba(13,149,146,1);
}
.gt-carButBoxs{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
}