<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
   <link rel="stylesheet" href="../css/home_enroltow.css">
</head>
<body>
 
  <div class="gt-backDiv">

<p> <span id='gt-backUp' class="gt-backCur"><span>前台营业 </span> <span class="gt-backBlu"></span></span> <span class="gt-backSp">退出</span> </p>
      </div>
<!--前台页面学员报名项-->
<div class="gt-deails" style="display:block">

        <!--学员报名-->
      
    

      <div class="gt-step">
    <div class="gt-stepDa"> <p>报名步骤:</p></div>
<div class="gt-stepDb gt-stepImg"><span>1</span></div>
<div class="gt-stepDb gt-stepDc  gt-stepImg"><span>2</span></div>
<div class=" gt-stepDb gt-stepDd  gt-stepImgOp"><span>3</span></div>
<div class="gt-steplin "> <div class="gt-steplinBule"></div></div>
<div class="gt-steplin gt-steplinA"></div>
<div class="gt-stepWr"><span>填写信息</span> <span>选择课程</span> <span>支付费用</span></div>
      </div>
 
 <div id='gt-Ptable1' class="gt-Qptable">  </div>


<div class="gt-nextAndback">

<div class="gt-butonCom gt-nextBut " id="gt-butonNext"><span>提交订单</span></div> <div id='gt-KgNosave' class="gt-butonCom gt-cancelBut"><span>取消</span></div>

</div>

 </div>
</div>
          
<!--推荐优惠设置-->
          <div class="gt-setbox" style="display:none"> 
              
              <div class="gt-setherad"> <span class="gt-setheradWord"></span>新增报名活动<span class="gt-setheradImg"><img src="../image/ico/u725.png" alt=""></span></div>
              
                   <span class="gt-prSearc "><input id='gt-searcIput' type="text" placeholder="输入关键词搜索..."> <span class="gt-prSearcA" id='gt-searc'> <img src="../image/ico/u544.png" alt=""></span></span> 

                   <div class="gt-tableBox">  
                   <div class="gt-tableLf">

                     <div class="gt-steList"> 
                  
              

                      <table  class="gt-steLitabl" >
                            <tbody id='gt-newAddset'> 

                    
                            </tbody>
                                                

                    </table>
                </div>

                   </div>
                   
                   <div class="gt-tableRt" id="gt-hasChoose">
                       <div class="gt-tabHerad"> <span class="gt-Mglft">已选择 ：</span><span class="gt-ClorTp" id='gt-Nuber'>0</span> <span class="gt-delImg"><img src="../image/ico/u1157.png" alt=""></span></div>
               
                      
                          <table  class="gt-bas" >
                           <tbody id='gt-nsdw'>
                          


                           </tbody>
                            
                          
                        </table>

                   </div>

<!-- <span  id='gt-tRig'class="gt-entRig">确定</span> -->
                   </div>
     
                        <div class="gt-chekNext ">
                 <span class="gt-chekBlu gt-chekbg" id='gt-hPag'>1</span>
                 <span class="gt-chekbg" style="cursor:text;" id='NewPg'>2</span>
                 <span class="gt-chekPre gt-chekbg" id='nextPg'><img src="../image/ico/u252.png" alt=""></span> <i id="gt-aa"> </i>
                 
            </div>
               
                </div>
          <div class="gt-deltan" style="display:none">
                            <div class="gt-deltanHr"> <span class="gt-noce">提示</span></div>
                            <div class="gt-noceBut"><span> 你真的要删除吗？</span></div>
                                 
                              <div class="gt-BuntComm">
                                  <a href=""><span class="gt-but1" id='gt-but1'>确定</span></a>
                                   <span class="gt-but2" id='gt-but2'>取消</span>
                              </div>
                           

                       </div>

<script type="text/template" id="Ptable1">

 <% for(var i=0,len=list.length; i<len; i++) { %>
<div class="gt-trainee">
<div class="gt-studenName"> <span>学员:   <span class='gt-Qname'><%=list[i].studentName%></span></span> </div>

<div data-id='<%=list[i].id%>' class="gt-traineeChoose"><span >选择表名活动</span></div>
<div class="gt-Elist">

<table  class="gt-enrotabl" data-studentno='<%=list[i].studentNo%>' data-id='<%=list[i].id%>'>
                        <tr class='gt-dataTr'>
                           <td class='gt-Edatli1'>报名活动名称</td>
                           <td class='gt-Edatli2'>单价(元)</td>
                           <td class='gt-Edatli3'>数量</td>
                           <td  class='gt-Edatli4'>单位</td>
                           <td class='gt-Edatli5'>实收金额(元)</td>
                           <td class='gt-Edatli6'>操作</td>
                         </tr>          
                    
</table>
</div>

<div class="gt-total">
    <span>总额/</span><span class="gt-totalColro">￥<span class='gt-Qtotal'>0</span></span>
    <span class='gt-woringty'>*请选择报名活动</span>
</div>
 </div>
  <% } %>                               
                    </script> 


                      <script type="text/template" id="activi">
                    
                               <tr>
                                <td class="gt-steLi1"></td>
                                <td class="gt-steLi2">报名活动名称</td>
                                <td class="gt-steLi3">课程名称</td>
                                 <td class="gt-steLi4">价格</td>
                                 
                                <td class="gt-steLi5">科目</td>
                                <td class="gt-steLi5">招生人数</td>
                                <td class="gt-steLi6">开班时间</td>

                               
                          </tr>
                         
                            <% for(var i=0,len=list.length; i<len; i++) { %> 
                              <tr id=<%=list[i].id%>>
                                <td class="gt-steLi1">   <span  data-id='<%=list[i].id%>' class="gt-setButbg "> <span class="gt-SetbutCall"></span></span> </td>
                                <td class="gt-steLi2"><%=list[i].enrollName%></td>
                                <td class="gt-steLi3"><%=list[i].className%>(<%=list[i].levelName%>)</td>
                                 <td class="gt-steLi4"><%=list[i].money%></td>
                                <td class="gt-steLi5"><%=list[i].className%></td>
                                 <td class="gt-steLi5"><%=list[i].recruitCount%>/<%=list[i].enrollCount%></td>
                                <td class="gt-steLi6"><%=list[i].startDate%></td>

                               
                          </tr>
                            <% } %>
                        </script>



<div id='gt-trans' class="gt-trans" style="display:none" ></div>
<script src="../js/common/common.js"></script>
<script src="../js/common/jquery-1.8.3.js"></script>
<script src="../js/enronlName/enronlNameTwo.js"></script>
<script src="../js/common/underscore-min.js"> </script>
   
</body>
</html>