          <!DOCTYPE html>
          <html lang="en">
          <head>
              <meta charset="UTF-8">
              <title></title>
            <link rel="stylesheet" href="../css/index.css">
          </head>
          <body>
        
          <div class="gt-bigBox">
          
          <!--二级导航-->   
          <div class="gt-towNav">
            
              <ul class="gt-towNavUl">
                      <li id='gt-navLi1'class="gt-bludBack gt-towNavhonve">校区管理</li>
                      <li  id='gt-navLi2'class="gt-towNavhonve">教室管理</li>
                      <li  id='gt-navLi3' class="gt-towNavhonve">推荐管理</li>
                      <li   id='gt-navLi4'class="gt-towNavhonve">基础管理</li>

              </ul>

          </div>
          <!--右侧内容-->
          <div class="gt-center">
              <!--学校管理-->
          <div class="gt-schooladmini" style="display:block">
                <div class="gt-Campuses"> <span class="gt-shadow"></span> <span class="gt-CampusesSpan">校区管理</span></div>
            <div class="gt-CampuAdd" id='gt-CampuAdd'><span >新增</span></div>
            
            
                    <div class="gt-DateList"> 
                      
                  

                          <table  class="gt-datatabl" id='gt-classRoom'>
                            <tr class="gt-dataTr">
                                    <td class="gt-datli1">校区名称</td>
                                    <td class="gt-datli2">电话</td>
                                    <td class="gt-datli3">地址</td>
                                    <td  class="gt-datli4">创建时间</td>
                                    <td class="gt-datli5">操作</td>
                              <tr class="gt-dataTr">
                                    <td class="gt-datli1">多粉学堂惠州总校区</td>
                                    <td class="gt-datli2">0752-1234567</td>
                                    <td class="gt-datli3">东平大道46号东辉苑B栋2楼</td>
                                    <td  class="gt-datli4">2017-03-27 11:03</td>
                                    <td class="gt-datli5"><span class="gt-roomdSpan">教室管理</span></td>
                                  
                              </tr>
                          
                             
                          
                        </table>
                    </div>
          </div>
      
        <!--学校管理 新增-->
      <div class="gt-Addadmini" style="display:none">
                <div class="gt-Campuses"> <span class="gt-shadow"></span> <span class="gt-CampusesSpan">新增</span></div>
          
              <div class="gt-facade "><span><span style="color: #FF0000">* </span><span class="gt-malf">门店选择 :</span> <span  class="gt-CLSectA">             
                          <select name="" id="" class="gt-CLSectAa">
                              <option value="">&nbsp &nbsp A1班</option>
                              <option value=""> &nbsp &nbsp A2班</option>
                              <option value=""> &nbsp &nbsp A3班</option>
                          </select>        
                        </span>
              </div>

        <div class="gt-doorAddtr">
      <span class="gt-textBox"> 店面地址 :<span class="gt-texetSpan"> 东平大道46号东辉苑B栋2楼</span></span> 

        </div>
            
            <div class="gt-doorName">
        <span>门店名称 :</span><input type="text" placeholder="30个字以内">

            </div>
              
        <div class="gt-doorIco"><span class="gt-doorSpan"> 店铺图片 :</span> <span class="gt-doorImg"><img src="../img/ico/u480.png" alt=""></span>
        
        <span class="gt-choose">选择图片</span>
        </div>

        <div class="gt-doorName gt-doorPhote">
        <span>门店电话 :</span><input type="text">

            </div>
        <div class="gt-doorName gt-advice">
        <span>咨询QQ :</span><input type="text" >
            </div>

        <div class="gt-Logo">

    <span class="gt-logoErp" >LOGO(ERP端) :</span><div class="gt-logoImg"><img src="../img/ico/u480.png" alt=""></div>
      <div class="gt-logoChoose">
        <div>

          <span class="gt-choose gt-choseImg">选择图片</span>
        </div>
      <div class="gt-logoSize"><span>图片尺寸：280 * 90 px</span></div>
      </div>
        
              </div>

  <div class="gt-Banner"><span class="gt-photeBanner">手机端banner :</span>
        <div class="gt-bannerList"> 
                      
                  

                          <table  class="gt-bannertabl">
                            <tr>
                                    <td class="gt-banner1">banner图片</td>
                                    <td class="gt-banner2">图片连接</td>
                                    <td class="gt-banner3">操作</td>
                                   
                                  
                              </tr>
                              
                               <tr>
                                    <td class="gt-banner1 gt-tdImg"><img src="../img/ico/u549.jpg" alt=""></td>
                                    <td class="gt-banner2"><input type="text" placeholder="连接以http://*.*为准"></td>
                                    <td class="gt-banner3"><span class="gt-bannerColor">替换</span> <span class="gt-bannerColor">删除</span></td>
                                   
                                  
                              </tr>
                              <tr>
                                    <td class="gt-banner1 gt-tdImg"><img src="../img/ico/u549.jpg" alt=""></td>
                                    <td class="gt-banner2"><input type="text" placeholder="连接以http://*.*为准"></td>
                                    <td class="gt-banner3"><span class="gt-bannerColor">替换</span> <span class="gt-bannerColor">删除</span></td>
                                   
                                  
                              </tr>
                              <tr>
                                    <td class="gt-banner1 gt-tdImg"><img src="../img/ico/u549.jpg" alt=""></td>
                                    <td class="gt-banner2"><input type="text" placeholder="连接以http://*.*为准"></td>
                                    <td class="gt-banner3"><span class="gt-bannerColor">替换</span> <span class="gt-bannerColor">删除</span></td>
                                   
                                  
                              </tr>
                          
                        </table>
                    </div>
                    <div class="gt-addBanner"><span class="gt-addButns"> 添加banner</span> <span class="gt-addButnsWord">图片尺寸：750 * 360 px</span></div>
  <div class=" gt-buton"><span class="gt-preserved">保存</span><span class="gt-getaway" id='adminEs'>取消</span></div>
  
  </div>

              </div>


         

     <!--教室管理 新增-->
      <div class="gt-AddClassroom" style="display:none">
       <div class="gt-Campuses"> <span class="gt-shadow"></span> <span class="gt-CampusesSpan">教室管理</span></div>
          <div class="gt-newRoombox"><span class="gt-newAddroom">新增</span> <span class="gt-roomEsc">返回</span></div>
               <div class="gt-RoomList"> 
                      
                          
                          <table  class="gt-Roomtabl">
                         

                              <tbody id='gt-classRoomad'>
                                

                              </tbody>
                              
                             
                        </table>
                    </div>
                    <div class="gt-chooseBox">
                       <div class="gt-chooseRt">  <span id='gt-SelectAll'>全选</span>  <span id='gt-SelectNo'>取消</span> <span id='gt-SelectDel'>删除</span></div>
                    <div class="gt-btuoBox gt-chooseLf">
                      <span class="gt-nexButn" id='gt-hpage'><span class="gt-rimg"><img src="../img/ico/u240r.png" alt=""><img src="../img/ico/u240r.png" alt=""></span> </span>
                      <span class="gt-nexButn" id='gt-pre'><span class="gt-rimg"><img src="../img/ico/u240r.png" alt=""></span></span>
                      <span class="gt-nexButn gt-buleBckg" ><span class="gt-rimg" id='gt-present'>1</span></span>
                      <span class="gt-nexButn gt-transf" id='gt-next'><span class="gt-rimg"><img src="../img/ico/u240.png" alt=""></span></span>
                      <span class="gt-nexButn gt-transf" id='gt-epage'><span class="gt-rimg"><img src="../img/ico/u240.png" alt=""><img src="../img/ico/u240.png" alt=""></span> </span>
                      
                      <span class="gt-logButn" ><span >共<span id="gt-contPg">1</span>页</span></span>
                    </div>
                    </div>
                    
  


  </div>




                    
                    <!--教室管理-->
                    <div class="gt-roomadmini" style="display:none">
                <div class="gt-Campuses"> <span class="gt-shadow"></span> <span class="gt-CampusesSpan">教室管理</span></div>
         
            
                    <div class="gt-DateList"> 
                      
                    <table  class="gt-datatabl" id='gt-Datetab'>
                      
                        
                           
                          
                        </table>
                    </div>
          </div>
                  

                    <!--推荐管理-->
                  

         <div class="gt-addSetup" style="display:none">
                <div class="gt-Campuses"> <span class="gt-shadow"></span> <span class="gt-CampusesSpan">校区管理</span></div>
            <div class="gt-CampuAdd gt-addSetBut "><span >添加规则</span></div>
            
            
                    <div class="gt-DateList"> 
                      
                  

                          <table  class="gt-datatabl">
                                <tbody id='gt-recoTby'>  
                                  
                                  
                                </tbody>
                          
                        </table>
                    </div>
      </div>

                    <div class="gt-setup" style="display:none">
                <div class="gt-Campuses"> <span class="gt-shadow"></span> <span class="gt-CampusesSpan">推荐设置</span></div>
            <!--<div class="gt-CampuAdd"><span>新增</span></div>
            -->
            
                    <div class="gt-DateList"> 
                        
                   
                         
                          <table  class="gt-datatabl" >
                      
                        
                            <tbody id='gt-LIstScm'>
                        
                            </tbody>
                          
                        </table>
                      
                    </div>
          </div>

    <!--新增推荐规则-->
    
                    <div class="gt-NewaddSetup" style="display:none">
                <div class="gt-Campuses"> <span class="gt-shadow"></span> <span class="gt-CampusesSpan">新增推荐规则</span></div>
           
                
               <div class="gt-setopp">
                  <ul class="">
                    <li class="gt-setUp">
                     <div class="gt-setopDs">适用报名活动 ：</div> 
                     <div class="gt-setopList">
                          <div class="gt-newAdd gt-setAdd" id='gt-newSet'>新增</div>
                       
                    <div class="gt-DateList gt-etopDateLi"> 
                      
                  

                          <table  class="gt-setuptabl">
                            <tr class="gt-dataTr">
                                  
                                    <td class=" gt-setli0">推荐规则</td>
                                    <td class=" gt-setli1">操作</td>
                                    
                                  
                              </tr>
                              <tr class="gt-dataTr">
                                  
                                    <td class="gt-setli0">被推荐人：减免200学费，推荐人：获得200积分</td>
                                    <td class="gt-setli1 "><span class="gt-setupColor">删除</span>
                                    <!--设置-->
                                    
                                    </td>
                                    
                                  
                              </tr>
                          
                        </table>
                    </div>
                     </div>

                    </li>
                      <li>被推荐学员减免学费 :  <span class="gt-setInput"> <input id='gt-extras1' onkeyup="clearNoNum(this)"  type="text"> 元</span></li>
                        <li class="gt-recommend">被推荐人得优惠 : 
                            <div class="gt-recomA"> <span class="gt-recomRun " id='gt-recom1'> <span class="gt-smallRun"></span></span>  <span class="gt-setInput"> 粉币 ：  <input  id='gt-extras2' onkeyup="clearNoNum(this)" type="text"> </span></div>
                            <div class="gt-recomB"> <span class="gt-recomRun" id='gt-recom2'> <span class="gt-smallRun"></span></span>  <span class="gt-setInput"> 积分 ：  <input  id='gt-extras3' onkeyup="clearNoNum(this)" type="text"> </span></div>
                            <div class="gt-recomC "> <span class="gt-recomRun" id='gt-recom3'><span class="gt-smallRun"></span></span>  <span class="gt-setInput"> 现金 ：  <input  id='gt-extras4'  onkeyup="clearNoNum(this)" type="text"> 元</span></div>
                            <li class="gt-setBut"> <span class="gt-setButbg  gt-setButnew"> <span class=""></span></span><span class="gt-setLf">与会员券叠加使用</span></li>
                        
                        
                        </li>
                        <li>   <div class="gt-saveBut"><span class="gt-preserved" id='gt-buter'>保存</span><span class="gt-getaway" id='gt-setLiEs'>取消</span></div></li>
                  </ul>
              </div>
                    
          </div>



                <!--基础管理-->
                <div class="gt-basisBox" style="display:none">
            <div class="gt-basis">
            <span class="gt-basisBut gt-basisclick  gt-basisHover" >年级设置</span>
          <span class="gt-basisNexe   gt-basisHover">科目设置</span>
            </div>
            <!--年级设置-->
            <div class="gt-newClass" style="display:block">
          <div class="gt-newAdd" id='gt-newClas'>新增</div>
            <div class="gt-basisList"> 
                      
                  

                          <table  class="gt-basistabl" >
                           <tbody id='gt-newClassTb'>

                           </tbody>
                            
                          
                        </table>
                    </div>
                    <div class="gt-btuoBox">
                  <span class="gt-nexButn" id='gt-classHg'><span class="gt-rimg"><img src="../img/ico/u240r.png" alt=""><img src="../img/ico/u240r.png" alt=""></span> </span>
                  <span class="gt-nexButn" id='gt-classPg'><span class="gt-rimg"><img src="../img/ico/u240r.png" alt=""></span></span>
                  <span class="gt-nexButn gt-buleBckg"><span class="gt-rimg" id='gt-classwor'>1</span></span>
                   <span class="gt-nexButn gt-transf" id='gt-classEg'><span class="gt-rimg"><img src="../img/ico/u240.png" alt=""></span></span>
                  <span class="gt-nexButn gt-transf" id='gt-classNg'><span class="gt-rimg"><img src="../img/ico/u240.png" alt=""><img src="../img/ico/u240.png" alt=""></span> </span>
                 
                  <span class="gt-logButn"><span>共<span id='gt-cuntWor'>5</span>页</span></span>
                </div>
                    
                    </div>


      <!--科目设置-->
        <div class="gt-newSubjects" style="display:none">
      <div class="gt-newAdd" id='gt-newSubj'>新增</div>
        <div class="gt-basisList"> 
                  
              

                      <table  class="gt-basistabl" >
                       <tbody id='gt-SubjectsTab'></tbody>
                        
                      
                    </table>
                </div>
                <div class="gt-btuoBox">
                  <span class="gt-nexButn" id='gt-SubHpg'><span class="gt-rimg"><img src="../img/ico/u240r.png" alt=""><img src="../img/ico/u240r.png" alt=""></span> </span>
                  <span class="gt-nexButn" id='gt-Subpr'><span class="gt-rimg"><img src="../img/ico/u240r.png" alt=""></span></span>
                  <span class="gt-nexButn gt-buleBckg"><span class="gt-rimg" id='gt-subNweg'>1</span></span>
                   <span class="gt-nexButn gt-transf" id='gt-Subepg'><span class="gt-rimg"><img src="../img/ico/u240.png" alt=""></span></span>
                  <span class="gt-nexButn gt-transf" id='gt-Subng'><span class="gt-rimg"><img src="../img/ico/u240.png" alt=""><img src="../img/ico/u240.png" alt=""></span> </span>
                 
                  <span class="gt-logButn"><span>共<span id='subCont'>5</span>页</span></span>
                </div>
                </div>

          </div>

          </div>

 </div>
          </div>

          <!--防点击-->
          <div class="gt-NoClickBg" style="display:none"></div>
            <div class="gt-NoClickBg2" style="display:none"></div>
            
          <!--教室新增按键内容-->
          <div class="gt-addClass " id='gt-newaddRm' style="display:none">
      <div class="gt-addClassHerad"> <span class="gt-heradLf">新增教室</span><span class="gt-heradRt" ><img src="../img/ico/u725.png" alt=""></span></div>
          <div class="gt-addIput"> <span>教室名称：</span> <input id='gt-Addroom' onKeypress="if(event.keyCode == 32)event.returnValue = false;" type="text"></div>
          <div class="gt-addBut "><span class="gt-preserved" id='gt-ClbutSave'>保存</span><span class="gt-getaway" >取消</span></div>
          </div>
           <!--修改教室内容-->
          <div class="gt-addChange gt-addClass" style="display:none">
      <div class="gt-addClassHerad"> <span class="gt-heradLf">修改教室</span><span class="gt-heradRt" ><img src="../img/ico/u725.png" alt=""></span></div>
          <div class="gt-addIput"> <span>教室名称：</span> <input id='gt-Addroom2' onKeypress="if(event.keyCode == 32)event.returnValue = false;" type="text"></div>
          <div class="gt-addBut "><span class="gt-preserved" id='gt-chngSavSave'>保存</span><span class="gt-getaway" >取消</span></div>
          </div>
             
          <!--年级设置新增按键内容-->
            <div class=" gt-addClass  gt-year" style="display:none">
      <div class="gt-addClassHerad"> <span class="gt-heradLf">新增年级</span><span class="gt-heradRt" ><img src="../img/ico/u725.png" alt=""></span></div>
          <div class="gt-addIput"> <span>年级名称：</span> <input id='gt-Addyear' onKeypress="if(event.keyCode == 32)event.returnValue = false;" type="text"></div>
          <div class="gt-addBut "><span class="gt-preserved" id='gt-yearSave'>保存</span><span class="gt-getaway" id='gt-ClbutEs'>取消</span></div>
          </div>



        <!--科目设置新增按键内容-->
         <div class="gt-addSubjects" style="display:none">
      <div class="gt-addClassHerad"> <span class="gt-heradLf">新增科目</span><span class="gt-heradRt" ><img src="../img/ico/u725.png" alt=""></span></div>
          <div class="gt-addIput"> <span>科目名称：</span> <input id='gt-subAdd' onKeypress="if(event.keyCode == 32)event.returnValue = false;" type="text"></div>
          <div class="gt-addBut "><span class="gt-preserved" id='gt-Prese'>保存</span><span class="gt-getaway" id='gt-preseEs'>取消</span></div>
          </div>
        


          <!--推荐优惠设置-->
          <div class="gt-setbox" style="display:none"> 
              
              <div class="gt-setherad"> <span class="gt-setheradWord"></span>新增报名活动<span class="gt-setheradImg"><img src="../img/ico/u725.png" alt=""></span></div>
              
                   <span class="gt-prSearc "><input id='gt-searcIput' type="text" placeholder="输入关键词搜索..."> <span class="gt-prSearcA" id='gt-searc'> <img src="../img/ico/u544.png" alt=""></span></span> 

                   <div class="gt-tableBox">  
                   <div class="gt-tableLf">

                     <div class="gt-steList"> 
                  
              

                      <table  class="gt-steLitabl" >
                            <tbody id='gt-newAddset'> 

                    
                            </tbody>
                                                

                    </table>
                </div>

                   </div>
                   
                   <div class="gt-tableRt" id="gt-hasChoose">
                       <div class="gt-tabHerad"> <span class="gt-Mglft">已选择 ：</span><span class="gt-ClorTp" id='gt-Nuber'>0</span> <span class="gt-delImg"><img src="../img/ico/u1157.png" alt=""></span></div>
               
                      
                          <table  class="gt-bas" >
                           <tbody id='gt-nsdw'>
                          


                           </tbody>
                            
                          
                        </table>

                   </div>


                   </div>
     
                        <div class="gt-chekNext ">
                 <span class="gt-chekBlu gt-chekbg" id='gt-hPag'>1</span><span class="gt-chekbg" style="cursor:text;" id='NewPg'>2</span><span class="gt-chekPre gt-chekbg" id='nextPg'><img src="../img/ico/u252.png" alt=""></span> <span  id='gt-tRig'class="gt-entRig">确定</span>
                 
            </div>
               
                </div>


                       <div class="gt-deltan" style="display:none">
                            <div class="gt-deltanHr"> <span class="gt-noce">提示</span></div>
                            <div class="gt-noceBut"><span> 你真的要删除吗？</span></div>
                                 
                              <div class="gt-BuntComm">
                                  <span class="gt-but1" id='gt-but1'>确定</span>
                                   <span class="gt-but2" id='gt-but2'>取消</span>
                              </div>
                           

                       </div>

                               <!--推荐 新增报名活动列表-->
                          <script type="text/template" id="activi">
                    
                               <tr>
                                <td class="gt-steLi1"></td>
                                <td class="gt-steLi2">报名活动名称</td>
                                <td class="gt-steLi3">课程名称</td>
                                 <td class="gt-steLi4">价格</td>
                                <td class="gt-steLi5">科目</td>
                                <td class="gt-steLi6">开班时间</td>

                               
                          </tr>
                         
                            <% for(var i=0,len=list.length; i<len; i++) { %> 
                              <tr id=<%=list[i].id%>>
                                <td class="gt-steLi1">   <span class="gt-setButbg "> <span class=""></span></span> </td>
                                <td class="gt-steLi2"><%=list[i].enrollName%></td>
                                <td class="gt-steLi3"><%=list[i].className%>(<%=list[i].levelName%>)</td>
                                 <td class="gt-steLi4"><%=list[i].money%></td>
                                <td class="gt-steLi5"><%=list[i].className%></td>
                                <td class="gt-steLi6"><%=list[i].startDate%></td>

                               
                          </tr>
                            <% } %>
                        </script>


                        <!--教室管理-->
                          <script type="text/template" id="tpl">
                    
                             <tbody>
                                 <tr class="gt-dataTr">
                                    <td class="gt-datli1">校区名称</td>
                                    <td class="gt-datli2">电话</td>
                                    <td class="gt-datli3">地址</td>
                                    <td  class="gt-datli4">创建时间</td>
                                    <td class="gt-datli5">操作</td>
                                  
                              </tr>
                              <% for(var i=0,len=list.length; i<len; i++) { %>

                              <tr class="gt-dataTr">
                                    <td class="gt-datli1" data-id=<%=list[i].id%>><%=list[i].schoolName%></td>
                                    <td class="gt-datli2"><%=list[i].schoolPhone%></td>
                                    <td class="gt-datli3"><%=list[i].schoolAddress %></td>
                                    <td  class="gt-datli4"><%=list[i].updateDate %></td>
                                    <td class="gt-datli5"><span class="gt-roomdSpan" id='gt-cotrnt'>教室管理</span></td>
                                  
                              </tr>
                              </tbody>
                        <% } %>
                        </script>

                          <!--推荐-->
                          <script type="text/template" id="tplT">
                    
                            
                                 <tr class="gt-dataTr">
                                    <td class="gt-datli1">校区名称</td>
                                    <td class="gt-datli2">电话</td>
                                    <td class="gt-datli3">地址</td>
                                    <td  class="gt-datli4">创建时间</td>
                                    <td class="gt-datli5">操作</td>
                                  
                              </tr>

                              
                              <% for(var i=0,len=list.length; i<len; i++) { %>

                              <tr class="gt-dataTr">
                                    <td class="gt-datli1" data-id=<%=list[i].id%>><%=list[i].schoolName%></td>
                                    <td class="gt-datli2"><%=list[i].schoolPhone%></td>
                                    <td class="gt-datli3"><%=list[i].schoolAddress %></td>
                                    <td  class="gt-datli4"><%=list[i].updateDate %></td>
                                    <td class="gt-setup5 "><span class="gt-setupColor gt-sugesSrt" >推荐设置</span>                              
                              </tr>
                        <% } %>
                        </script>

                        <!--教室管理新增-->
                         <script type="text/template" id="table">
                  
                             <tr>   
                                    <td class="gt-Room1"></td>
                                    <td class="gt-Room2">教室名称</td>
                                    <td class="gt-Room3">操作</td>
                                   
                                 </tr>
                                 <% for(var i=0,len=list.length; i<len; i++) { %>
                               <tr data-id=<%=list[i].id%>>
                                    <td class="gt-Room1">  <span class="gt-setButbg "> <span class="gt-SetbutCall"></span></span></td>
                                    <td class="gt-Room2"><%=list[i].classroomName%></td>
                                    <td class="gt-Room3"><span class="gt-bannerColor gt-roomEnte">编辑</span></td>
                                   
                              </tr>
                             

                             
                        <% } %>
    </script>
                      <!--基础管理 年级新增-->
             <script type="text/template" id="classTb">
                            <tr>
                                    <td class="gt-basis1">年级</td>
                                    <td class="gt-basis2">创建时间</td>
                                    <td class="gt-basis3">操作</td>
                                                                     
                              </tr>
                                <% for(var i=0,len=list.length; i<len; i++) { %>
                                  <tr data-id=<%=list[i].id%>>
                                    <td class="gt-basis1"><%=list[i].gradeName%></td>
                                    <td class="gt-basis2"><%=list[i].updateDate%></td>
                                    <td class="gt-basis3"><span class="gt-del gt-classDel">删除</span></td>
                                    </tr>    
                               <% } %>
                   </script>



                             <!--基础管理 科目新增-->
                         <script type="text/template" id="table2">
                  
                             <tr>
                                <td class="gt-basis1">科目名称</td>
                                <td class="gt-basis2">创建时间</td>
                                <td class="gt-basis3">操作</td>
                                
                              
                          </tr>
                                          
                                 <% for(var i=0,len=list.length; i<len; i++) { %>
                               <tr data-id=<%=list[i].id%>>
                                <td class="gt-basis1"><%=list[i].subjectName%></td>
                                <td class="gt-basis2">2017-5-23 11:30</td>
                                <td class="gt-basis3"><span class="gt-del gt-subDel">删除</span></td>
                              </tr>
                
                        <% } %>
                      </script>
                      <!--推荐管理-->

                      <script type="text/template" id="table3">
                                  <tr class="gt-dataTr">
                                  
                                    <td class="gt-datli2">推荐规则</td>
                                    <td class="gt-datli5">操作</td>
                               </tr>
                                            
                                 <% for(var i=0,len=list.length; i<len; i++) { %>
                                  


                              <tr  class="gt-dataTr" data-id=<%=list[i].id%>>
                                     <td class="gt-setup2">被推荐人：减免<span class='gt-reductionMoney'><%=list[i].reductionMoney%></span>元学费，
                                     获得
                                     
                                     <span class='gt-giveIntegral'><%=list[i].giveIntegral%></span>积分，
                                     获得
                                     
                                     <span  class='gt-giveFans'><%=list[i].giveFans%></span>粉币，
                                     获得
                                     
                                     <span  class='gt-giveCash'><%=list[i].giveCash%></span>元现金
                                     
                                     </td>
                                    <td class="gt-datli5"><span class="gt-editors " >修改</span> <span class="gt-del">删除</span></td>
                              </tr>
                                 <% } %>
                      
                      </script>









           


          <script src="../js/jquery-1.8.3.js"></script>
             <script src="../js/common.js"></script>
            <script src="../js/index.js"></script>
            <script src="../js/underscore-min.js"></script>
      
          </body>

          </html>